<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richard.imoh.collab">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".FeedPage" />
        <activity
            android:name=".PropertyDetails"
            android:label="@string/title_activity_property_details" />
        <activity android:name=".AgentActivity" />
        <activity android:name=".Registration"></activity>
        <activity android:name=".Follow" />
        <activity android:name=".Login"></activity>
        <activity android:name=".Chat" />
        <activity android:name=".ChatList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="Recent Chats"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConnectionList"></activity>
    </application>

</manifest>