<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richard.imoh.collab">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activities.FeedPage" />
        <activity
            android:name=".Activities.PropertyDetails"
            android:label="@string/title_activity_property_details" />
        <activity android:name=".Activities.AgentActivity" />
        <activity
            android:name=".Activities.Registration"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.Follow" />
        <activity
            android:name=".Activities.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Chat"
            android:parentActivityName=".Activities.ChatList" />
        <activity
            android:name=".Activities.ChatList"
            android:label="Recent Chats"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ConnectionList"
            android:parentActivityName=".Activities.MainActivity" />
        <activity android:name=".Activities.SpinnerCountryActivity" />
        <activity android:name=".Activities.EditProfile" />
        <activity android:name=".Request.RequestActivity" />
        <activity android:name=".Request.AddRequest" />
        <activity android:name=".Property.AddProperty"></activity>
    </application>

</manifest>